<section class="section section6">
    <div class="inner">
        <div class="logofooter">
            <img src="{{ asset('img/logofooter.png') }}" alt="Logo bas de page">
        </div>

        <div class="logoreseaux">
            <a href="https://www.facebook.com/informatiqueavecvous" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.youtube.com/user/lucpinelli07" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</section>