<nav class="navigation section">
    <div class="inner">
        <div class="logo">
            <img src="{{ asset('img/logomenu.png') }}" class="linknav" data-nav=".content" alt="L'informatique avec vous logo">
        </div> 

        <div class="navigationright">
            <a href="#" class="linknav" data-nav=".section2">Mes services</a>

            <a href="#" class="linknav" data-nav=".section3">Mes vidéos</a>

            <button class="btn btnlight" type="button" data-nav=".section5">Me contacter</button>
        </div>

        <div class="clear"></div>
    </div>
</nav>